@model Vidly.ViewModels.RandomViewModel
@{
    ViewBag.Title = "Randon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Movies!</h1>


@Html.ActionLink("New Movie!", "newMovie", "Movies", new { @class = "btn btn-default", id = "yes" })
<br />
<br />

<table class="table table-­bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Genre</th>
    </tr>
    @foreach (var Movie in Model.movies)
    {
        <tr>
            <td>@Html.ActionLink(@Movie.name, "EditMovie", "Movies", new { id = @Movie.id }, null)</td>
            <td>@Movie.id</td>
            <td>@Movie.genre</td>
        </tr>
    }
</table>

